<%= form_with(model: browser_location, local: true) do |form| %>
  <% if browser_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(browser_location.errors.count, "error") %> prohibited this browser_location from being saved:</h2>

      <ul>
        <% browser_location.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lonlat %>
    <%= form.text_field :lonlat %>
  </div>

  <div class="field">
    <%= form.label :accuracy %>
    <%= form.text_field :accuracy %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
