<p id="notice"><%= notice %></p>

<p>
  <strong>Lonlat:</strong>
  <%= @browser_location.lonlat %>
</p>

<p>
  <strong>Accuracy:</strong>
  <%= @browser_location.accuracy %>
</p>

<%= link_to 'Edit', edit_browser_location_path(@browser_location) %> |
<%= link_to 'Back', browser_locations_path %>
