<div class="w-full h-screen">
  <div id="map" class="absolute top-0 w-full h-screen" data-controller="map"></div>
  <div class="map-overlay z-10 absolute top-0 right-0 w-full sm:w-1/2 lg:w-1/3 text-black leading-tight rounded-bl shadow-xl" data-controller="questionnaire">
    <button class="map-overlay absolute top-0 left-0 -ml-5 w-5 h-20 text-gray-800 hover:text-white hover:bg-gray-500 rounded-l-md" data-action="questionnaire#hide" data-target="questionnaire.hideButton">
      <%= inline_svg_pack_tag "media/svg/menu-right.svg", class: "fill-current w-6 h-6" %>
    </button>

    <button class="absolute top-0 left-0 w-5 h-full text-gray-800 hover:text-white hover:bg-gray-500 rounded-bl" data-action="questionnaire#show" data-target="questionnaire.showButton" style="display:none">
      <%= inline_svg_pack_tag "media/svg/menu-left.svg", class: "fill-current w-6 h-6" %>
    </button>

    <header class="my-4 text-center">
      <h1 class="text-2xl uppercase tracking-wider text-gray-700 leading-tight"><%= t "modal_title" %></h1>
    </header>

    <section class="mt-2 p-4" data-target="questionnaire.container">
      <section class="leading-tight" data-target="questionnaire.introduction">
        <h3 class="uppercase text-base text-black tracking-wider"><%= t "introduction.whats_it_about" %></h3>
        <section class="text-sm text-gray-800">
          <p class="mt-1"><%= t "introduction.problem_explanation" %></p>
          <p class="mt-1"><%= t "introduction.solution_explanation" %></p>
        </section>
        <h3 class="mt-6 uppercase text-base text-black tracking-wider"><%= t "introduction.help_out" %></h3>
        <section class="text-sm text-gray-800">
          <p class="mt-1"><%= t "introduction.help_out_how" %></p>
          <p class="mt-1"><%= t "introduction.location_anonymization_hint" %></p>
        </section>
      </section>

      <div id="form">
        <%= render "questionnaires/form", questionnaire: @questionnaire %>
      </div>

      <div id="success" style="display:none">
        <h3 class="uppercase text-base text-black tracking-wider"><%= t "success.thanks" %></h3>
        <div class="mt-2 text-gray-800 text-sm">
          <%= link_to "https://wa.me/?text=#{u(t('success.whatsapp_message'))}" do %>
            <button class="inline-flex items-center p-2 border border-gray-600 hover:bg-gray-200 rounded">
              <%= inline_svg_pack_tag "media/svg/whatsapp.svg", class: "fill-current w-6 h-6" %>
              <p class="ml-2"><%= t "success.share_whatsapp" %></p>
            </button>
          <% end %>
          <p class="mt-4"><%= t "success.offer_push_notifications" %></p>
          <div class="mt-2" data-controller="web-push" data-web-push-application-server-key="<%= Rails.application.credentials.vapid_public_key %>">
            <button class="select-button" data-target="web-push.subscribeButton" data-action="web-push#subscribe"><%= t "success.activate_push" %></button>
          </div>
          <p class="mt-2"><%= t "success.come_back" %></p>
          <p class="mt-2"><%= t "success.link_to_authorities_html", link: link_to(t("success.authority"), t("success.authority_link"), class: "link", target: "_blank") %></p>
          <p class="mt-4"><%= t "success.all_the_best" %></p>
        </div>
      </div>

      <div data-target="questionnaire.locationError" style="display:none">
        <h3 class="uppercase text-base text-black tracking-wider"><%= t "location_error.title" %></h3>
        <p class="mt-2 text-gray-800 text-sm" data-target="questionnaire.locationErrorPermissionDenied" style="display:none">
          <%= t "location_error.permission" %>
        </p>
        <p class="mt-2 text-gray-800 text-sm" data-target="questionnaire.locationErrorPositionUnavailable" style="display:none">
          <%= t "location_error.other" %>
        </p>
        <p class="mt-2 text-gray-800 text-sm" data-target="questionnaire.locationErrorTimeout" style="display:none">
          <%= t "location_error.other" %>
        </p>
      </div>
    </section>

    <footer class="flex justify-end pr-4 pb-2 text-xs text-gray-700" data-target="questionnaire.footer">
      <%= link_to t("footer.project_by"), "https://www.eidel.io", class: "hover:text-black", target: "_blank" %>
      <%= link_to "GitHub", "https://github.com/olieidel/corona-tracker", class: "ml-4 hover:text-black", target: "_blank" %>
    </footer>
  </div>
</div>
