<%= form_with(model: questionnaire, local: false, data: { target: "questionnaire.form" }) do |form| %>
  <section class="mt-2 mx-auto max-w-lg flex" data-target="questionnaire.healthySickSelector">
    <div class="w-1/2 pr-1">
      <button class="select-button" data-action="questionnaire#selectHealthy"><%= t "questionnaire.i_am_healthy" %></button>
    </div>
    <div class="w-1/2 pl-1">
      <button class="select-button" data-action="questionnaire#selectSick"><%= t "questionnaire.i_am_sick" %></button>
    </div>
  </section>

  <section class="mx-auto max-w-lg leading-tight" data-target="questionnaire.sickSelector" style="display:none">
    <h3 class="uppercase text-base text-black tracking-wider"><%= t "questionnaire.i_am_sick" %>.</h3>
    <div class="mt-2 text-sm text-gray-800">
      <%= form.check_box :fever, data: { target: "questionnaire.fever" } %>
      <%= form.label :fever, t("questionnaire.i_have_a_fever"), class: "ml-1" %>
    </div>
    <div class="mt-2 text-sm text-gray-800">
      <%= form.check_box :cough, data: { target: "questionnaire.cough" } %>
      <%= form.label :cough, t("questionnaire.i_have_a_cough"), class: "ml-1" %>
    </div>
    <div class="mt-4 text-sm text-gray-800">
      <%= form.label :other_symptoms, t("questionnaire.enter_other_symptoms_if_you_have_them"), class: "" %>
      <%= form.text_field :other_symptoms, placeholder: t("questionnaire.enter_other_symptoms_here"), class: "mt-1 w-full px-3 py-2 text-sm text-gray-800 border border-gray-500 rounded" %>
    </div>
    <div class="mt-4 text-sm">
      <%= form.check_box :tested, id: "check_box_tested_sick" %>
      <%= form.label :tested, t("questionnaire.did_covid_test_positive"), class: "ml-1 text-gray-800", for: "check_box_tested_sick" %>
    </div>
    <div class="mt-4">
      <%= form.submit t("questionnaire.submit"), class: "select-button", data: { target: "questionnaire.submitButtonSick", action: "questionnaire#confirmSubmit" } %>
    </div>
  </section>

  <section class="mx-auto max-w-lg leading-tight" data-target="questionnaire.locationHint" style="display:none">
    <h3 class="uppercase text-base text-black tracking-wider"><%= t "questionnaire.i_am_healthy" %>.</h3>
    <div class="mt-2 text-sm">
      <%= form.check_box :tested, id: "check_box_tested_healthy" %>
      <%= form.label :tested, t("questionnaire.did_covid_test_negative"), class: "ml-1 text-gray-800", for: "check_box_tested_healthy" %>
    </div>
    <div class="mt-4">
      <%= form.submit t("questionnaire.submit"), class: "select-button", data: { target: "questionnaire.submitButtonHealthy", action: "questionnaire#confirmSubmit" } %>
    </div>
  </section>

  <%= form.hidden_field :healthy, data: { target: "questionnaire.healthy" } %>
  <%= form.hidden_field :latitude, data: { target: "questionnaire.latitude" } %>
  <%= form.hidden_field :longitude, data: { target: "questionnaire.longitude" } %>
  <%= form.hidden_field :accuracy, data: { target: "questionnaire.accuracy" } %>
<% end %>
