<%= form_with(model: questionnaire, local: false, data: { target: "questionnaire.form" }) do |form| %>
  <% if questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>
      <ul>
        <% questionnaire.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="mx-auto max-w-lg flex" data-target="questionnaire.healthySickSelector">
    <div class="w-1/2 pr-1">
      <button class="select-button" data-action="questionnaire#selectHealthy">Ich bin gesund</button>
    </div>
    <div class="w-1/2 pl-1">
      <button class="select-button" data-action="questionnaire#selectSick">Ich bin krank</button>
    </div>
  </section>

  <section class="mx-auto max-w-lg" data-target="questionnaire.sickSelector" style="display:none">
    <div>
      <%= form.check_box :fever, data: { target: "questionnaire.fever" } %>
      <%= form.label :fever, "Ich habe (auch) Fieber", class: "ml-1" %>
    </div>
    <div>
      <%= form.check_box :cough, data: { target: "questionnaire.cough" } %>
      <%= form.label :cough, "Ich habe (auch) Husten", class: "ml-1" %>
    </div>
    <div>
      <%= form.text_field :other_symptoms, placeholder: "Andere Symptome" %>
    </div>
    <div class="text-sm leading-tight">
      <%= form.check_box :tested %>
      <%= form.label :tested, "Ich habe auch einen COVID-19 Test gemacht, der das bestätigt (optional)", class: "ml-1" %>
    </div>
    <div class="mt-2">
      <button class="select-button" data-target="questionnaire.submitButtonSick" data-action="questionnaire#confirmSubmit">Abschicken</button>
    </div>
  </section>

  <section class="mx-auto max-w-lg" data-target="questionnaire.locationHint" style="display:none">
    <div class="text-sm leading-tight">
      <%= form.check_box :tested %>
      <%= form.label :tested, "Ich habe auch einen COVID-19 Test gemacht, der das bestätigt (optional)", class: "ml-1" %>
    </div>
    <div class="mt-2">
      <button class="select-button" data-target="questionnaire.submitButtonHealthy" data-action="questionnaire#confirmSubmit">Abschicken</button>
    </div>
  </section>

  <%= form.hidden_field :healthy, data: { target: "questionnaire.healthy" } %>
  <%= form.hidden_field :latitude, data: { target: "questionnaire.latitude" } %>
  <%= form.hidden_field :longitude, data: { target: "questionnaire.longitude" } %>
  <%= form.hidden_field :accuracy, data: { target: "questionnaire.accuracy" } %>
<% end %>
