<!DOCTYPE html>
<html>
  <head>
    <title>CrowdCovid</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />

    <% if Rails.env.production? %>
      <%= render "shared/analytics" %>
    <% end %>
  </head>

  <body class="bg-black">
    <%= yield %>
  </body>
</html>
