<!DOCTYPE html>
<html>
  <head>
    <title>CrowdCovid</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# Manifest for Push Notifications %>
    <link rel="manifest" href="<%= asset_path "manifest.json" %>" />

    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />

    <% if Rails.env.production? %>
      <%= render "shared/analytics" %>
    <% end %>

    <meta property="og:title" content="CrowdCovid"/>
    <meta property="og:image" content="<%= image_url "social-media-preview.jpg" %>" />
    <meta property="og:description" content="Crowdsourcing COVID-19 Data." />
    <meta property="og:url" content="https://www.crowdcovid.com" />
  </head>


  <body class="bg-black">
    <%= yield %>
    <div style="display:none" data-controller="service-worker" data-service-worker-application-server-key="<%= Rails.application.credentials.vapid_public_key %>"></div>
  </body>
</html>
